
@font-face {
  font-family: 'UbuntuRegular';
  src: url('../fonts/ubuntu-regular.woff') format('woff'),
       url('../fonts/ubuntu-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'UbuntuBold';
  src: url('../fonts/ubuntu-bold.woff') format('woff'),
       url('../fonts/ubuntu-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'UbuntuItalic';
  src: url('../fonts/ubuntu-italic.woff') format('woff'),
       url('../fonts/ubuntu-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'UbuntuBoldItalic';
  src: url('../fonts/ubuntu-bolditalic.woff') format('woff'),
       url('../fonts/ubuntu-bolditalic.woff2') format('woff2');
}

h1 {
  font-family: 'UbuntuBold';
}
