
/* The base theme */
$base-primary-color: #B3B3B3;
$base-secondary-color: #7C7C7C;

/* The desert theme */
$desert-primary-color: #70ADEC;
$desert-secondary-color: #D7B07D;

/* The poppy theme */
$poppy-primary-color: #27AAEE;
$poppy-secondary-color: #92CF72;

/* The flower theme */
$flower-primary-color: #ABDDFE;
$flower-secondary-color: #F5ACCB;

/* The coast theme */
$coast-primary-color: #2C8AE1;
$coast-secondary-color: #C6B38A;

/* The tulip theme */
$tulip-primary-color: #93CA53;
$tulip-secondary-color: #E8E3DF;
